.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
  padding-top: 1.2rem;
}

.menuLink {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background: var(--primary);
  color: var(--text-over-primary);
  transition: all 0.3s ease;
  padding: 1.2rem;
  border-radius: 0.8rem;
}

.menuLink svg {
  width: 2.4rem;
  height: 2.4rem;
}

.menuLink:hover {
  filter: brightness(80%);
}
