.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoLink {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 4.2rem;
  text-decoration: none;
  color: var(--primary);
  transition: all 0.3s ease;
}

.logoLink svg {
  width: 6.4rem;
  height: 6.4rem;
}

.logoLink:hover {
  filter: brightness(80%);
}
