.cycles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
}

.cyclesDots {
  display: flex;
  gap: 0.8rem;
}

.cyclesDot {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: var(--primary);
  margin-right: 5px;
}

.workTime {
  background-color: var(--warning);
}

.shortBreakTime {
  background-color: var(--primary);
}

.longBreakTime {
  background-color: var(--info);
}
