.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
}

a {
  font-size: 1.2rem;
  color: var(--text-muted);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
