.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  min-width: 24rem;
  margin: 1rem 0rem 0rem 0rem;
  padding: 0.8rem;
  border-radius: 0.8rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button svg {
  width: 2.4rem;
  height: 2.4rem;
}

.button:hover {
  filter: brightness(80%);
}

.green {
  background-color: var(--primary);
  color: var(--text-over-primary);
}

.red {
  background-color: var(--error);
  color: var(--text-over-error);
}
